<head>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/0264550dda.js" crossorigin="anonymous"></script>
</head>
<hr width="600px">
<footer>
    <p>© 2005-2022 Kireobat™</p>
</footer>