<head>
   <link rel="stylesheet" href="/css/style.css">
</head>
<div class="app-grid">
  <div class="app-1">
    <a href="proxmox.kireobat.site"><img src="/img/proxmox.png" width="100em"></a>
    <p>PROXMOX</p>
  </div>
  <div class="app-2">
    <a href="https://app.plex.tv/desktop/#!/"><img src="/img/plex.png" width="100em"></a>
    <p>PLEX</p>
  </div>
  <div class="app-3">
    <a href="192.168.68.125:81"><img src="/img/nginx.png" width="100em"></a>
    <p>NGINX</p>
  </div>
  <div class="app-4">
    <a><img src="/img/adguardhome.png" width="100em"></a>
    <p>ADGUARD HOME</p>
  </div>
  <div class="app-5">
    <a href="http://router.asus.com/Main_Login.asp"><img src="/img/asus.png" width="100em"></a>
    <p>ASUS ROUTER</p>
  </div>
  <div class="app-6">
    <a href="http://158.248.87.83/"><img src="/img/pterodactyl.png" width="100em"></a>
    <p>PTERODACTYL</p>
  </div>
  <div class="app-7">
    <a href="192.168.68.117/ui/"><img src="/img/truenas.png" width="100em"></a>
    <p>TRUENAS</p>
  </div>
  <div class="app-8">
    <a href="https://fontawesome.com/"><img src="/img/fontawesome.png" width="100em"></a>
    <p>FONT AWESOME</p>
  </div>
  <div class="app-9">
    <a href="https://polyhaven.com/"><img src="/img/polyhaven.png" width="100em"></a>
    <p>POLY HAVEN</p>
  </div>
  <div class="app-10">
    <a href="https://vlfk.itslearning.com/index.aspx?SessionExpired=0"><img src="/img/itslearning.png" width="100em"></a>
    <p>ITSLEARNING</p>
  </div>
  <div class="app-11">
    <a href="https://betterschool.cheesyphoenix.tk/"><img src="/img/betterschool.png" width="100em"></a>
    <p>BETTERSCHOOL</p>
  </div>
  <div class="app-12">
    <a href="https://amalieskram-vgs.inschool.visma.no/Login.jsp#/"><img src="/img/visma.png" width="100em"></a>
    <p>VISMA</p>
  </div>
  <div class="app-13">
    <a href="https://teams.microsoft.com/_#/school/teams-grid/General?ctx=teamsGrid"><img src="/img/teams.png" width="100em"></a>
    <p>TEAMS</p>
  </div>
  <div class="app-14">
    <a href="https://mail.proton.me/u/0/inbox?welcome=true"><img src="/img/protonmail.png" width="100em"></a>
    <p>PROTON MAIL</p>
  </div>
  <div class="app-15">
    <a href="https://maps.google.com/"><img src="/img/maps.png" width="100em"></a>
    <p>MAPS</p>
  </div>
  <div class="app-16">
    <a href="https://google.com/"><img src="/img/google.png" width="100em"></a>
    <p>GOOGLE</p>
  </div>
  <div class="app-17">
    <a href="https://youtube.com/"><img src="/img/youtube.png" width="100em"></a>
    <p>YOUTUBE</p>
  </div>
  <div class="app-18">
    <a href="https://accounts.google.com/b/0/AddMailService"><img src="/img/gmail.png" width="100em"></a>
    <p>GMAIL</p>
  </div>
</div>